@use "reset-css" as *;
@include reset-css;

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=DM+Sans:wght@400;700&display=swap");

//MIXINS
@mixin mobileBreakPoint {
  @media screen and (min-width: 700px) {
    @content;
  }
}

//COLORS
$primary: (
  scissorsGradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%)),
  paperGradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%)),
  rockGradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%)),
);

@each $name, $gradient in $primary {
  .#{$name} {
    display: grid;
    place-items: center;
    position: relative;
    border-radius: 50%;
    background: $gradient;
    background-clip: padding-box;
    padding: 10px;
    margin: 1.3rem;
    width: 100px;
    height: 100px;
    cursor: pointer;

    box-shadow: 0px 5px grayscale($color: #b5b1b1);
    @include mobileBreakPoint() {
      width: 190px;
      height: 190px;
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
  .#{$name}::after {
    position: absolute;
    background: $gradient;
    content: "";
    z-index: -1;
    border-radius: 50%;
  }
}

$darkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);
$headerOutline: hsl(217, 16%, 45%);
$background: rgb(248, 248, 248);

// background gradient
$radialGradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

//STYLES
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: $radialGradient;
  height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: $background;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  padding: 0.5rem;
  border: 3px solid $headerOutline;
  border-radius: 10px;
  width: 80%;
}

.title {
  line-height: 0.9rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1rem;
}

.score-container {
  background-color: $background;
  display: grid;
  place-items: center;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
}

.score-title {
  color: $darkText;
  font-size: 0.8rem;
}

.score {
  color: $scoreText;
  font-size: 2.2rem;
  font-weight: 700;
}

.game-board-container {
  display: grid;
  place-items: center;
  width: 350px;
}

.gamepiece-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.bg-triangle {
  position: absolute;
  width: 60%;
  transform: translateY(12px);
}

.inner-radius {
  display: grid;
  place-items: center;
  background-color: white;
  width: 90%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.icon {
  background-color: $background;
  border-radius: 30%;
  height: 50px;
  width: 45px;
  position: absolute;
}

.rules-container {
  display: grid;
  place-items: center;
  margin: 3.5rem;
}

.rules-btn {
  background-color: transparent;
  border: 2px solid $background;
  border-radius: 7px;
  color: $background;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 0.15rem;
}

.result-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "player house" "result result";
  place-items: center;
  // height: 100%;
}

.result-grid > .player {
  grid-area: player;
}
.result-grid > .house {
  grid-area: house;
}

.result-grid > .play-again-container {
  grid-area: result;
}

.results-container {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 1rem;
}

.pick-text {
  text-align: center;
}

.play-again-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-message {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.play-again-btn {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: $darkText;
  font-size: 1rem;
  font-weight: 600;
  border-style: none;
  border-radius: 10px;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 0.15rem;
}

.rules-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  color: $darkText;
}

.disabled {
  display: none;
}

.pending {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: $darkText;
  opacity: 0.8;
}

.choice-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end-gradient {
  position: absolute;
  height: 150%;
  aspect-ratio: 1;
  background-image: radial-gradient(
    #ebf8e1 25%,
    #dcdcdcc1 25% 50%,
    #b3b3b3c1 50% 75%,
    #b4b4b4c1 75% 100%
  );
  border-radius: 50%;
  opacity: 0.15;
  transform: translateY(-7px);
}

//Desktop Layout

@include mobileBreakPoint() {
  //HEADER
  .header-container {
    margin-top: 3rem;
    max-width: 60%;
  }
  .title {
    line-height: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .score-container {
    width: 5rem;
    margin-right: 0.75rem;
  }
  .score-title {
    font-size: 1rem;
  }

  .score {
    color: $scoreText;
    font-size: 3.5rem;
    font-weight: 700;
  }

  //GAME PIECES
  .game-board-container {
    width: 650px;
    // transform: translateY(20px);
  }

  .icon {
    height: 85px;
    width: 70px;
    object-fit: contain;
  }

  .bg-triangle {
    width: 50%;
  }

  .rules-container {
    display: flex;
    width: 95%;
    margin: 1rem;
    justify-content: right;
  }

  // RESULTS

  .choice-container {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .result-grid {
    // grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    grid-template-areas: "player result house";
  }

  .result-grid > .player {
    grid-area: player;
  }
  .result-grid > .play-again-container {
    grid-area: result;
  }
  .result-grid > .house {
    grid-area: house;
  }

  .pending {
    width: 170px;
  }

  .end-gradient {
    transform: translateY(10px);
  }
}
