/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=DM+Sans:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.scissorsGradient {
  display: grid;
  place-items: center;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
  background-clip: padding-box;
  padding: 10px;
  margin: 1.3rem;
  width: 100px;
  height: 100px;
  cursor: pointer;
  box-shadow: 0px 5px #b3b3b3;
}
@media screen and (min-width: 700px) {
  .scissorsGradient {
    width: 190px;
    height: 190px;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.scissorsGradient::after {
  position: absolute;
  background: linear-gradient(hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
  content: "";
  z-index: -1;
  border-radius: 50%;
}

.paperGradient {
  display: grid;
  place-items: center;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
  background-clip: padding-box;
  padding: 10px;
  margin: 1.3rem;
  width: 100px;
  height: 100px;
  cursor: pointer;
  box-shadow: 0px 5px #b3b3b3;
}
@media screen and (min-width: 700px) {
  .paperGradient {
    width: 190px;
    height: 190px;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.paperGradient::after {
  position: absolute;
  background: linear-gradient(hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
  content: "";
  z-index: -1;
  border-radius: 50%;
}

.rockGradient {
  display: grid;
  place-items: center;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
  background-clip: padding-box;
  padding: 10px;
  margin: 1.3rem;
  width: 100px;
  height: 100px;
  cursor: pointer;
  box-shadow: 0px 5px #b3b3b3;
}
@media screen and (min-width: 700px) {
  .rockGradient {
    width: 190px;
    height: 190px;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.rockGradient::after {
  position: absolute;
  background: linear-gradient(hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
  content: "";
  z-index: -1;
  border-radius: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
  height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: rgb(248, 248, 248);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  padding: 0.5rem;
  border: 3px solid hsl(217deg, 16%, 45%);
  border-radius: 10px;
  width: 80%;
}

.title {
  line-height: 0.9rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1rem;
}

.score-container {
  background-color: rgb(248, 248, 248);
  display: grid;
  place-items: center;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
}

.score-title {
  color: hsl(229deg, 25%, 31%);
  font-size: 0.8rem;
}

.score {
  color: hsl(229deg, 64%, 46%);
  font-size: 2.2rem;
  font-weight: 700;
}

.game-board-container {
  display: grid;
  place-items: center;
  width: 350px;
}

.gamepiece-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.bg-triangle {
  position: absolute;
  width: 60%;
  transform: translateY(12px);
}

.inner-radius {
  display: grid;
  place-items: center;
  background-color: white;
  width: 90%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.icon {
  background-color: rgb(248, 248, 248);
  border-radius: 30%;
  height: 50px;
  width: 45px;
  position: absolute;
}

.rules-container {
  display: grid;
  place-items: center;
  margin: 3.5rem;
}

.rules-btn {
  background-color: transparent;
  border: 2px solid rgb(248, 248, 248);
  border-radius: 7px;
  color: rgb(248, 248, 248);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 0.15rem;
}

@media screen and (min-width: 700px) {
  .header-container {
    max-width: 60%;
  }
  .title {
    line-height: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .score-container {
    width: 5rem;
    margin-right: 0.75rem;
  }
  .score-title {
    font-size: 1rem;
  }
  .score {
    color: hsl(229deg, 64%, 46%);
    font-size: 3.5rem;
    font-weight: 700;
  }
  .game-board-container {
    width: 650px;
  }
  .icon {
    height: 85px;
    width: 70px;
    object-fit: contain;
  }
}
.result-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
}

.results-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 1rem;
}

.pick-text {
  text-align: center;
}

.play-again-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-message {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.play-again-btn {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: hsl(229deg, 25%, 31%);
  font-size: 1rem;
  font-weight: 600;
  border-style: none;
  border-radius: 10px;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 0.15rem;
}

.disabled {
  display: none;
}

/*# sourceMappingURL=style.css.map */
